@model List<ResultProductWithImagesDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Ürünler</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ürün Görsel</th>
                        <th>Ürün Adı</th>
                        <th>Ürün Fiyatı</th>
                        <th>Kategori</th>
                        <th class="text-center">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>
                                @foreach (var image in item.ProductImages)
                                {
                                    <p><img src="@image.Image" style="width:30px;height:30px;"/></p>
                                }
                            </td>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td>@item.CategoryName</td>
                            <td class="text-center">
                                <a href="/Admin/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a>
                                <a href="/Admin/Product/UpdateProduct/@item.ProductId" class="btn btn-dark text-white">Güncelle</a>
                                <a href="/Admin/ProductImage/ProductImageList/@item.ProductId" class="btn btn-info text-white">Görselleri Yönet</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer bg-white">
        <a href="/Admin/Product/CreateProduct/" class="btn btn-primary btn-lg text-white">+ Yeni Ürün Oluştur</a>
    </div>
</div>

